<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link href="/css/layout.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/gif" href="//img.stateful.co/favicon.ico"/>
    </head>
    <body>
        <p>
            <a href="/">
                <img src="//img.stateful.co/pomegranate.svg" class="logo"/>
            </a>
        </p>
        <p class="alert alert-danger">
            Internal application error.
        </p>
        <pre>${text}</pre>
    </body>
</html>
